@* BookmarkListCard holding the bookmark list name and quantity of events inside. *@

<div class="bookmarkListCard">
    <div class="bookmarkListCardTitleText">
        Card Title!
    </div>
    <div class="bookmarkListQuantityContainer">
        <div class="bookmarkListCardQuantityText">
            23
        </div>
    </div>
</div>