@* Button that looks like a bookmark list card but is blank with a big plus in the center *@

<div class="newBookmarkListCard">
    <input placeholder="Enter a name..." type="text" class="newBookmarkListCardTitleInput"/>
    <button class="btn rounded-pill saveNewBookmarkListButton">
        Create list
    </button>
</div>